.container__small{
    border: 1px solid green;
    margin: 5px;
    height: 95%;
    width: 50%; 
}

.container__small__card{
    border: 1px solid green;
    margin: 5px;
    height: 95%;
    width: 50%; 
    display: flex; /* Definindo o display como flex */
}

.container__small__card > h1{
    margin-left: 10px;
    position: relative;
    margin-top: 100px;
}